body {
  width: 80%px;
  height: 90%px;
  background-color: burlywood;
}

h1,
a {
text-align: center;
font-weight: bold;
}

ul,
li {
border: 3px solid blue;
font size: 20;
color: sienna;
}

p {
font-family: "serif";
color: grey;
}

img {
width: 150% px;
height: 75% px;
text-align: center;
}


