@font-face {
  font-family: tf2Font;
  src: url(TF2.ttf);
}

body {
  background-color: beige;
  
}

h1 {
  text-align: center;
  font-family: tf2Font;
  color: DarkOrange;
}

p {
  color: SlateGrey;
  font-family: "Verdana", sans-serif;
  padding: 25px;
}

ol,ul.notNav {
border: 2px solid red;
}

img {
float: left;
}

li.notNav {
color: MidnightBlue;
font-family: "Verdana", sans-serif;
padding: 5px;
}


