@font-face {
  font-family: tf2Font;
  src: url(TF2.ttf);
}

body {
  background-color: beige;
  border: 2px solid DarkOrange;
  border-radius: 5px;  
}

h1 {
  text-align: center;
  font-family: tf2Font;
  color: DarkOrange;
}

p {
  color: DarkSlateGrey;
  font-family: "Verdana", sans-serif;
  padding: 25px;
}

ol,ul.notNav {
border: 2px solid red;
border-radius: 5px;
margin: 3px;
}

img {
float: left;
}

li.notNav {
color: MidnightBlue;
font-family: "Verdana", sans-serif;
padding: 5px;
}

ul.Nav {
  list-style-type: none;
}
