@font-face {
  font-family:TF2Font;
  src: url(fonts/TF2.ttf);
}

html {
background-color: bisque;
}

body {
  background-color: beige;
  border: 2px solid DarkOrange;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: DarkOrange;
  font-family: TF2Font;
}

p {
  color: DarkSlateGrey;
  font-family: "Verdana", sans-serif;
  padding: 15px;
}

ol,ul.notNav {
border: 2px solid red;
border-radius: 5px;
margin: 3px;
}

img {
float: right;
width: 80%px;
height: 80%px;
}

li.notNav {
color: MidnightBlue;
font-family: "Verdana", sans-serif;
padding: 5px;
}

ul.Nav {
  list-style-type: none;
  text-align: center;
}

li.Nav {
  background-color: orange;
  display: inline-block;
  border: 3px solid black;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
}

a.Nav {
  color: black;
  font-family: TF2Font;
  font-size: 24px;
}

li.here {
  background-color: black;
  border: 3px solid orange;
}

a.here {
 color: orange;
}

nav {
  border-bottom: 1px solid DarkOrange;
}
